<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.test.shop.mapping.OrdersMapper" >
  <resultMap id="BaseResultMap" type="cn.test.shop.model.Orders" >
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    oid, total, ordertime, state, name, phone, addr, uid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orders
    where oid = #{oid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orders
    where oid = #{oid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.test.shop.model.Orders" >
    insert into orders (oid, total, ordertime, 
      state, name, phone, 
      addr, uid)
    values (#{oid,jdbcType=INTEGER}, #{total,jdbcType=DOUBLE}, #{ordertime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{addr,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.test.shop.model.Orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        oid,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="ordertime != null" >
        ordertime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="oid != null" >
        #{oid,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.test.shop.model.Orders" >
    update orders
    <set >
      <if test="total != null" >
        total = #{total,jdbcType=DOUBLE},
      </if>
      <if test="ordertime != null" >
        ordertime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
    </set>
    where oid = #{oid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.test.shop.model.Orders" >
    update orders
    set total = #{total,jdbcType=DOUBLE},
      ordertime = #{ordertime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER}
    where oid = #{oid,jdbcType=INTEGER}
  </update>

 <!-- save -->
  <resultMap type="cn.test.shop.model.Orders" id="saveOrders">
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="DOUBLE" />
    <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <association property="user" javaType="cn.test.shop.model.User">
      <id column="uid" property="uid" jdbcType="INTEGER" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="name" property="name" jdbcType="VARCHAR" />
      <result column="email" property="email" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="addr" property="addr" jdbcType="VARCHAR" />
      <result column="state" property="state" jdbcType="INTEGER" />
      <result column="code" property="code" jdbcType="VARCHAR" />
  </association>
    <collection property="orderitems" ofType="cn.test.shop.model.Orderitem">
      <id column="itemid" property="itemid" jdbcType="INTEGER" />
      <result column="count" property="count" jdbcType="INTEGER" />
      <result column="subtotal" property="subtotal" jdbcType="DOUBLE" />
      <result column="pid" property="pid" jdbcType="INTEGER" />
      <result column="oid" property="oid" jdbcType="INTEGER" />
      <association property="product" javaType="cn.test.shop.model.Product">
        <id column="pid" property="pid" jdbcType="INTEGER" />
        <result column="pname" property="pname" jdbcType="VARCHAR" />
        <result column="market_price" property="marketPrice" jdbcType="DOUBLE" />
        <result column="shop_price" property="shopPrice" jdbcType="DOUBLE" />
        <result column="image" property="image" jdbcType="VARCHAR" />
        <result column="pdesc" property="pdesc" jdbcType="VARCHAR" />
        <result column="is_hot" property="isHot" jdbcType="INTEGER" />
        <result column="pdate" property="pdate" jdbcType="TIMESTAMP" />
        <result column="csid" property="csid" jdbcType="INTEGER" />
      </association>
    </collection>
  </resultMap>
  
  <!--  使用useGeneratedKeys="true" keyProperty="oid"，自增的属性不能在写在insert -->
  <insert id="save" parameterType="cn.test.shop.model.Orders" useGeneratedKeys="true" keyProperty="oid" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="total != null" >
        total,
      </if>
      <if test="ordertime != null" >
        ordertime,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="uid != null" >
        uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="total != null" >
        #{total,jdbcType=DOUBLE},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <!-- findCountByUid -->
<select id="findCountByUid" parameterType="java.lang.Integer" resultType="int">
  SELECT COUNT(*) FROM `orders` o WHERE uid=#{uid}
</select>

  <!-- findPageByUid -->
  <select id="findPageByUid" resultMap="saveOrders">
    SELECT * FROM `orders` o ,`orderitem` t,`product` p WHERE o.oid=t.oid AND p.pid=t.pid AND  uid=#{arg0} ORDER BY o.ordertime DESC LIMIT #{arg1},#{arg2}
  </select>
  
  <select id="findByOid" parameterType="java.lang.Integer" resultMap="saveOrders">
    SELECT * FROM `user` u ,`orders` o ,`orderitem` t,`product` p WHERE o.oid=t.oid AND p.pid=t.pid AND u.uid=o.uid AND o.oid=#{oid}
  </select>

</mapper>